@page {
  size: A4 landscape;
  margin: 0;
}



.container::before {
    content: "Fiche de recueil des informations par source pour concilier";
    text-align: center;
    margin: 0 auto;
}



// A enlever par defaut lors de l'impression

.container {
  margin: 0;
  background: steelblue;
}

.navbar-wagon {
  display: none;
}

.btn-add-medicament {
  display: none;
}

.btn-add-source {
  display: none;
}

.board-container {
  display: flex;
}



.card-invisible {
  background-color: black;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
}

.generer-pdf {
display: none;
}


.card-medicament {
  background-color: $gray-light !important;
  color: white;
  opacity: 1;
  border-radius: 8px;
  padding: 2px;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  z-index: 4;
}
