@page {
  size: A4;

  @top-left {
    content: "Hamlet";
  }

}



.container::before {
    content: "Fiche de recueil des informations";
    text-align: center;
    margin: 10px auto;
    font-size: 1.25em;
    font-weight: bold;
}

// @page :top-left {
//   content: "Hospice Civil de Lyon";
//   text-align: left;
// }

// A enlever par defaut lors de l'impression



.navbar-wagon {
  display: none;
}

.btn-add-medicament {
  display: none;
}

.btn-add-source {
  display: none;
}

.board-container {
  display: flex;
}

.name-board {
  display: none;
}

.generer-pdf {
display: none;
}


.form-divergence {
  display: none;
}

.print-none {
  display: none;
}




.container {
  margin-top: 20px;
  position: relative;
  min-width: 90vw;
  min-height: 90vh;
  background-color: red !important;
}

.card-invisible {
  background-color: black;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
}




.card-medicament {
  background-color: $gray-light !important;
  color: white;
  opacity: 1;
  border-radius: 8px;
  padding: 2px;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  // z-index: 4;
}

.board-container {
  display: none;
}


.board-container-final {
  position: absolute;
  left: 0px;
  background-color: black !important;
  width: 100vw;
}
