.board-container {
  display:flex;
  overflow-x:scroll;
}


.btn-add-source {
  background-color: blue;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
}

.btn-add-medicament {
  background-color: green;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
}

.card-invisible {
  background-color: $gray-light;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
  z-index: 3;
}


.container-board-show {
  position: relative;
}

.bouton-show {
  position: absolute;
  top: 10px;
  right: 10px;
  position: fixed;

}
