.board-container {
  display:flex;
  overflow-x:scroll;
  justify-content: center;
}

.board-container-divergence {
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: center;
}

.btn-add-source {
  background-color: $blue;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid $blue;
}

.btn-add-source:hover {
  background-color: white;
  color: $blue;
  border: 1px solid $blue;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.btn-add-medicament {
  background-color: $purple;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid $purple;
}

.btn-add-medicament:hover {
  background-color: white;
  color: $purple;
  border: 1px solid $purple;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.btn-add-medicament-final {
  background-color: green;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  margin: 5px;
}


.card-invisible {
  background-color: $gray-light;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
  z-index: 3;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
}

.card-invisible-divergence {
  background-color: $gray-light;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
  z-index: 3;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
}
.card-invisible-final {
  background-color: $black;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
  z-index: 3;
}

.container-board-show {
  position: relative;
  margin-left: 60px !important;
  width: calc(100% - 80px);
}

.bouton-show {
  position: absolute;
  top: 10px;
  right: 10px;
  position: fixed;

}

.name-board {
  margin-top: 10px;
}

.name-board-gray {
  color: $blue;
}

.source-name {
  text-align: center;
  padding: 0px 10px;
  width: 100%;
  margin: 0;
  color: white;
  border-radius: 4px;
  font-weight: regular;
  text-align: left;
  background: $blue;
  opacity: 1;
  transition: background 0.3s ease;
  text-align: center;
}

.card-final {
  text-align: center;
  padding: 0px 10px;
  width: 100%;
  margin: 0;
  color: white;
  border-radius: 4px;
  font-weight: regular;
  text-align: left;
  background: $blue;
  opacity: 1;
  transition: background 0.3s ease;
  text-align: center;
}
