.board-name a {
  text-decoration: none;
  color: $black;
  background-color: white;
  border: 1px solid $black;
  padding: 3px 14px;
  border-radius: 50px;
  font-weight: regular;
  font-size: 0.8em;
}

.board-name a:hover {
    background-color: $blue;
    color: white;
    font-weight: bold;
    border: none;
  }

body.patients-index {
  background: $body;

  #query {
    background: transparent;
  }
}

