<div class="container">

<h2>Mes patients</h2>


  <div class="row">
    <% @patients.each do |patient| %>
      <div class="col-xs-12 col-sm-3 card-patient">
          <div ><p id="bold"><%= patient.first_name %> <%= patient.last_name %></p></div>
          <div><p id="blue"><%= patient.birthdate %></p></div>
      </div>
    <% end %>
  </div>
</div>


