<div class="container">
  <div class="form-new-patient">

    <h1>Patients#new</h1>
    <p>Find me in app/views/patients/new.html.erb</p>


    <%= render 'form', patient: @patient %>

  </div>





</div>

