<div class="container">
  <h1><%= @board.name %></h1>

  <div class="board-container">
    <div class="card-source" id="source_1">
      <div class="card-source-invisible">
        <div class="card-invisible" id="source_1_card_1">
          <div class = "card-medicament" style="background-color: blue;">
            <%= render "form_medicament" %>
          </div>
        </div>
      </div>
      <%= link_to "+", '', class: "btn-add-medicament", id:"btn_source_1" %>
    </div>
  </div>

  <%= link_to "+", '', class: "btn-add-source" %>


  <a onclick='window.print(); return false;' class='btn btn-treehouse generer-pdf'>Générer un pdf</a>


</div>
