<div class="container container-board-show">
  <h1><%= @board.name %></h1>

  <div class="board-container">
    <div class="card-source" id="source_1">
      <div class="card-source-invisible">
        <div class="card-invisible" id="source_1_card_1">
          <div class = "card-medicament">
            <%= render "shared/form_medicament" %>
          </div>
        </div>
      </div>
      <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_1" %>
    </div>
  </div>

  <%= link_to "+", '', class: "btn-add-source" %>

  <div class="bouton-show">
    <a onclick='window.print(); return false;' class='btn btn-treehouse generer-pdf'>Générer un pdf</a>
  </div>



</div>


