<div class="container">
  <h1><%= @board.name %></h1>

  <div class="board-container">
    <div class="card-source" id="source_1">
      <div class="card-source-invisible">
        <div class="card-invisible" id="source_1_card_1">
          <div class = "card-medicament">
            <%= render "form_medicament" %>
          </div>
        </div>
      </div>
      <%= link_to "+", '', class: "btn-add-medicament" %>
    </div>
  </div>

  <%= link_to "+", '', class: "btn-add-source" %>





</div>

