<div class="container">
  <h1><%= @board.name %></h1>

  <div class="board-container">
    <div class="card-source">
      <div class="card-source-invisible">
        <div class="card-medicament">
          Je suis un médicament
        </div>
      </div>
      <%= link_to "+", '', class: "btn-add-medicament" %>
    </div>
  </div>

  <%= link_to "+", '', class: "btn-add-source" %>





</div>






