.card-medicament {
  background-color: $gray-light;
  color: white;
  opacity: 1;
  border-radius: 8px;
  padding: 2px;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  z-index: 4;
}

#drug_name {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#drug_morning {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#drug_lunch {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#drug_evening {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#drug_night {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

.inline-medicament {
  display: flex;
  flex-direction: row;
  height: 3em;
  align-items: center;

}

#drug_comment {
  font-size: 10px;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

.form-group {
  margin-bottom: 0px;
}


// CSS pour le formulaire new-medicament en JS

#drug_name {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#morning {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#lunch {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#evening {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#night {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#comment {
  font-size: 10px;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}







