.card-patient {
    height: auto;
    margin: 10px;
    padding-top: 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

#blue {
  color: blue;
}

#bold {
  font-weight: bold;
}
