.card-source {
  background-color: white;
  border-radius: 8px;
  min-height: 80vh;
  min-width: 40vh;
  max-width: 40vh;
  margin: 0px 10px;
  z-index: 1;
}

.card-final {
  background-color: green;
  border-radius: 8px;
  min-height: 80vh;
  min-width: 40vh;
  margin: 0px 10px;
  z-index: 1;
}

.card-source-divergence {
  background-color: white;
  border-radius: 8px;
  min-height: 80vh;
  min-width: 40vh;
  margin: 0px 10px;
  z-index: 1;
}
