.card-medicament {
  background-color: $white;
  color: white;
  opacity: 1;
  border-radius: 8px;
  padding: 2px;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  z-index: 4;
  border: 1px solid $gray;
}

.card-medicament-final {
  background-color: $gray-light;
  color: white;
  opacity: 1;
  border-radius: 8px;
  padding: 2px;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  z-index: 4;
}

#drug_name {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  background-color: $white;
}

#drug_morning {
  width: 90%;
  margin: 0 2px;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  background-color: $white;
  text-align: center;
}

#drug_lunch {
  width: 90%;
  margin: 0 2px;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  background-color: $white;
  text-align: center;
}

#drug_evening {
  width: 90%;
  margin: 0 2px;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  background-color: $white;
  text-align: center;
}

#drug_night {
  width: 90%;
  margin: 0 2px;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  background-color: $white;
  text-align: center;
}

.inline-medicament {
  display: flex;
  flex-direction: row;
  height: 3em;
  align-items: center;
  justify-content: space-between;


}

#drug_comment {
  font-size: 10px;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  border: none;
  background-color: $white;
}

.form-group {
  margin-bottom: 0px;
}


// CSS pour le formulaire new-medicament en JS

#drug_name {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#morning {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#lunch {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#evening {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#night {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#comment {
  font-size: 10px;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}


// bouton ajout de médicament source final
// <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_#{ @board.nb_source_final }" %>



