#divergence_error_type {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#divergence_correction {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#divergence_character {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}


.divergence_character {
  margin: 5px 0;
}

.divergence_error_type {
  margin: 5px 0;
}

.divergence_correction {
  margin: 5px 0;
}

.new_divergence select {
  font-size: 13px !important;
}

.card-source-invisible-divergence {
  margin-top: -5px;
}

.card-invisible-divergence {
  background-color: #f6f6f6 !important;
  border: 1px solid #ccc;
}

.card-invisible-divergence.no-divergence {
  background-color : $green !important;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 0.8em;
  }
}

