.card-medicament {
  background-color: white;
  color: white;
  opacity: 1;
  border-radius: $base-border-radius;
  height: 100%;
  padding: $card-inner-padding;
  margin: auto;
  font-size: 10px;
  z-index: 4;
  border: 1px solid $gray;
}

.card-medicament-final {
  background-color: $gray-light;
  color: white;
  opacity: 1;
  height: 100%;
  border-radius: $base-border-radius;
  padding: $card-inner-padding;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  z-index: 4;
}

#drug_name {
  font-size: 10px;
  box-shadow: none;
  border-color: $gray;
}

#drug_morning {
  width: 90%;
  margin: 0 2px;
  box-shadow: none;
  border-color: $gray;
  text-align: center;
}

#drug_lunch {
  width: 90%;
  margin: 0 2px;
  box-shadow: none;
  border-color: $gray;
  text-align: center;
}

#drug_evening {
  width: 90%;
  margin: 0 2px;
  box-shadow: none;
  border-color: $gray;
  text-align: center;
}

#drug_night {
  width: 90%;
  margin: 0 2px;
  box-shadow: none;
  border-color: $gray;
  text-align: center;
}

.inline-medicament {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0;
  font-size: 14px !important;
}

.form-medicament .form-control {
  font-size: inherit;
  padding: 0;
  height: 25px;
  color: #666;
  border-radius: $base-border-radius;
  background: white;
}

#drug_comment {
  border-radius: $base-border-radius;
  box-shadow: none;
  border-color: $gray;
  border: none;
  font-size: 14px;
  height: 50px;
}

.form-group {
  margin-bottom: 0px;
}


// CSS pour le formulaire new-medicament en JS

#drug_name {
  border-radius: $base-border-radius;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#morning {
  width: 35px;
  margin: 0 0.2em;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#lunch {
  width: 35px;
  margin: 0 0.2em;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#evening {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#night {
  width: 35px;
  margin: 0 0.2em;
  font-size: 10px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}

#comment {
  font-size: 10px;
  box-shadow: none;
  border-color: $gray;
  color: black;
}


// bouton ajout de médicament source final
// <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_#{ @board.nb_source_final }" %>



