.card-patient {
    height: auto;
    margin: 5px;
    background: white;
    border-radius: 5px;
    // cursor: pointer;
    padding: 1em 1em;

    // display: flex;
    // justify-content: space-between;
    // padding-left: 30px;
    // padding-right: 30px;



}

.blue-resize {
  color: blue;
  font-size: 0.8em;
}

.bold-resize {
  font-weight: bold;
  font-size: 1.25em;
}

.gray-resize {
  color: $gray;
  font-size: 0.8em;
}

.padding-card-patient {
  padding-top: 15px;
}


.padding-none {
  padding: 0;
}
