.card-patient {
    height: auto;
    margin: 10px;
    padding-top: 10px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;



}

#blue {
  color: blue;
}

#bold {
  font-weight: bold;
}
