#divergence_error_type {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#divergence_correction {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}

#divergence_character {
  font-size: 10px;
  height: 2.5em;
  border-radius: 8px;
  box-shadow: none;
  border-color: $gray;
}
