.card-source {
  background-color: white;
  border-radius: 8px;
  min-height: 80vh;
  min-width: 17vw;
  margin: 0px 10px;
  z-index: 1;
}

.card-source-final {
  background-color: $green;
  border-radius: 8px;
  min-height: 80vh;
  width: 17vw;
  margin: 0px 2px;
  z-index: 1;
  box-shadow: -2px 0px 4px #32B796;
}

.board-container-final {


}

.card-source-divergence {
  background-color: white;
  border-radius: 8px;
  min-height: 80vh;
  min-width: 40vh;
  margin: 0px 10px;
  z-index: 1;
}
