.card-source {
  background-color: $gray-light;
  border-radius: $base-border-radius;
  min-height: 80vh;
  min-width: 17vw;
  max-width: 17vw;
  margin: 0px 5px;
  z-index: 1;
}

.card-source-final {
  background-color: $green;
  border-radius: $base-border-radius;
  min-height: 80vh;
  width: 17vw;
  margin: 0px 2px;
  z-index: 1;
  box-shadow: -2px 0px 4px #32B796;
}

.board-container-final {


}

.card-source-divergence {
  // background-color: #FFBC86;
  background-color: #87BFFF;
  border-radius: $base-border-radius;
  min-height: 80vh;
  min-width: 17vw;
  margin: 0;
  z-index: 1;
}

.board-container-final .card-source {
  background-color: $green;
}
