.haut-page {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.haut-page-right {
  width: 80%;
  text-align: center;
}

.haut-page-left {
  width: 20%;
  text-align: center;
}

.container-print {
  margin: 50px auto;
  width: 80vw;
  min-height: 40vh;
  // border: 1px solid red;
}

.card-medicament-print {
  background-color: $gray-light;
  color: white;
  opacity: 1;
  border-radius: 8px;
  padding: 2px;
  height: 15vh;
  margin: auto;
  font-size: 10px;
  z-index: 4;
}

.card-invisible-print {
  background-color: $gray-light;
  opacity: 1;
  border-radius: 8px;
  height: 15vh;
  margin: 5px;
  z-index: 3;
}


.card-source-final-print {
  background-color: $green;
  border-radius: 8px;
  min-height: 80vh;
  width: 17vw;
  margin: 0px 2px;
  z-index: 1;
  box-shadow: -2px 0px 4px #32B796;
}

.bas-page {
  display: flex;
  justify-content: space-between;

  bottom: 50px;
  width: 60%;
  margin: 0 10%;
}

.bas-page-left {
  text-align: left;
}

.bas-page-right {
  text-align: left;
}


.border-container-medicament-print {
  margin-top: 50px;
}

.tableau-medicament-print {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-between;
  font-size: 0.8em;

  p {
    margin: 5px 0;
  }
}

.dose-medicament {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
}

.nom-medicament-print {
  width: 50%;
  font-weight: bold;
  padding-left: 10px;
}

.medicament-commentaire-print {
  width: 30%;
  margin: 0 20px;
}

.presentation-patient {
  margin-top: 50px;
}
