/* Barre de recherche */
// .recherche {
//   margin-left: 50px;

// }

.recherche  {
  margin-top: 50px;
  margin-bottom: 50px;
  // margin-left: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray;
  // border-radius: 4px;
  // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 48px;
  transition: box-shadow 200ms;
  // background-color: $gray-light;

  width: 400px;
  font-weight: 40px;
    #query::placeholder {
        font-weight: regular;
    }
}

.green {
    font-color: green;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.recherche input {
  margin-left: 10px;
  border: none;
  width: 350px;
  height: 30px;
  background-color: $body;
}

.recherche input:hover {
  margin-left: 10px;
  border: none;
  box-shadow: none;
  width: 350px;
  height: 30px;
  background-color: $body;
}
.query {
  background-color: $body;
}

.glyphicon {
  margin-left: 10px;
  color: gray;
}
