
#small-navbar {
  width: 60px;
  background: white;
  height: 100vh;
}

.remove-puces {
  list-style: none;
  margin: 0px 20px;
}

.reduct {
  margin: auto 20px;
  position: fixed;
  bottom: 90px;
}
