<div class="form-medicament form-divergence">
  <form class="simple_form new_divergence" novalidate="novalidate" action="/divergences" accept-charset="UTF-8" method="post">
    <!-- <input name="utf8" type="hidden" value="✓"> -->
    <!-- <input type="hidden" name="authenticity_token" value="DNbiHRmyW55hpdo84q4BP2h1SbJXQNJwAaeB1ZsVepyYpvIMfhVPFb6bJ4rkA9eZChJwKgjidJdm6ACjsPEzzw=="> -->
    <div class="form-inputs">
      <div class="form-group select optional divergence_error_type">
        <select class="form-control select optional" name="divergence[error_type]" id="divergence_error_type">
          <option selected="selected" value="0">Choix du status</option>
          <option value="1">Poursuivi</option>
          <option value="2">Suspendu</option>
          <option value="3">Médicament arrêté documenté</option>
          <option value="4">Médicament modifié documenté</option>
          <option value="5">Médicament substitué documenté</option>
          <option value="6">Médicament ajouté documenté</option>
          <option value="7">Médicament arrêté non documenté</option>
          <option value="8">Médicament modifié non documenté</option>
          <option value="9">Médicament substitué non documenté</option>
          <option value="10">Médicament ajouté non documenté</option>
        </select>
      </div>
      <div class="form-group select optional divergence_correction">
        <select class="form-control select optional" name="divergence[correction]" id="divergence_correction">
          <option selected="selected" value="0">Choix de la divergence</option>
          <option value="1">Divergence intentionnelle</option>
          <option value="2">Erreur médicamenteuse</option>
        </select>
      </div>
      <div class="form-group select required divergence_character">
        <select class="form-control select required" name="divergence[character]" id="divergence_character">
          <option selected="selected" value="0">Décision</option>
          <option value="true">Pris en compte et corrigé</option>
          <option value="false">Non pris en compte</option>
        </select>
      </div>
    </div>
  </form>
</div>
