<!-- <script type="text/javascript" src="../components/select2"></script> -->

<div class="card-invisible card " id="source_<%= pas %>_card_<%= max_card_in_source + 1 %>">
  <div class="card-medicament" style="background-color: $gray;">
    <div class="form-medicament">

      <div class="form-inputs">
        <select class="api-card-drugs name-medicament" style="width: 100%"></select>
        <div class="inline-medicament">
          <input class="form-control" type="text" value="0" id="drug_morning">
          <input class="form-control" type="text" value="0" id="drug_lunch">
          <input class="form-control" type="text" value="0" id="drug_evening">
          <input class="form-control" type="text" value="0" id="drug_night">
        </div>
        <textarea class="form-control" id="drug_comment" rows="2" placeholder="Commentaire..."></textarea>

      </div>
    </div>
  </div>
</div>
